doctype 5
html(lang="es")
 head
  title Listado de usuarios
  link(rel="stylesheet", href="css/bootstrap.css")
 body
  div.conatiner
    div.row
        div.col-12
            h1.text-primary Listado de usuarios
            hr
            a.btn.btn-primary(href="/create") Registrar usuario
            hr
            table.table.table-responsive.table-striped
                thead
                    tr
                        th Nick
                        th Nombre
                        th Apellidos
                        th Rol
                        th Correo
                        th Acciones
                tbody
                    each reg in users
                        tr
                            td= reg.nick
                            td= reg.nombre
                            td= reg.apellidos
                            td= reg.rol
                            td= reg.email
                            td
                                button.btn.btn-sm.btn-warning Editar
                                button.btn.btn-sm.btn-danger Eliminar
            hr
